<div class="container">
  <nav class="nav bg-light rounded-3">
    <li class="nav-item">
      <%= link_to" Inicio" , root_path, class:" nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to" Todos los Tableros" , boards_path, class:" nav-link" %>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to" Crear nuevo tablero" , new_board_path, class:" nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to" Cerrar sesión" , destroy_user_session_path, method: :delete,
      class:" nav-link" %>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to" Iniciar sesión" , new_user_session_path, class:" nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to" Regístrate" , new_user_registration_path, class:" nav-link"
      %>
    </li>
    <% end %>
  </nav>
</div>
